[metadata]
name = quanta
version = 0.0.1
author = Sammith S Bharadwaj
author_email = sammithsb@gmail.com
description = Python library that simulates optical elements
long_description = file: README.md
long_description_content_type = text/markdown
url = https://github.com/SammithSB/quanta
classifiers =
    Programming Language :: Python :: 3
    License :: OSI Approved :: MIT License
    Operating System :: OS Independent

[options]
packages = find:
python_requires = >=3.7
include_package_data = True